page-home {

  .home-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #cdf8e9;
  }

  .solution {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content:center;
    align-items:center;
    background: url('../../assets/images/bg.png') repeat;
    position: relative;
  }

  .game-actions {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
  }

}
