page-home {

  .solution {
    display: flex;
    justify-content:center;
    align-items:center;
  }

  .btn-container {
    display: flex;
    justify-content:center;
    align-items:center;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .btn {
    width: 40px;
    font-size: 20px;
    background: #32db64;
    color: white;
    margin: 10px;
    padding: 5px;
    text-align: center;
    transition: all 0.1s ease-in;
    animation-name: example;
    animation-duration: 0.2s;
  }

  .btn:active {
    transform: scale(1.1);
  }

  @keyframes example {
    0%   {
      transform: scale(1);
    }
    25%  {
      transform: scale(1.1);
    }
    50%  {
    }
    100% {
      transform: scale(1);
    }
  }

}
