// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: $main-font;
  src: local('HammersmithOne-Regular'),
  url('../assets/fonts/HammersmithOne-Regular.ttf');
}

@import "../assets/fonts/font-awesome/scss/font-awesome";

.modal--small {
  ion-content {
    &.content {
      div.scroll-content {
        top: 30%;
        left: 10%;
        width: 80%;
        height: 40%;
        overflow: hidden;
      }
    }

    &.content-ios {
      background-color: rgba(0, 0, 0, 0.3);

      div.scroll-content {
        background-color: #f8f8f8;
        border-radius: 13px;
        padding: 16px;
      }
    }

    &.content-md {
      background-color: rgba(0, 0, 0, 0.5);

      div.scroll-content {
        background-color: #fafafa;
        border-radius: 2px;
        box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
        padding: 24px;
      }
    }
  }

  .scroll-content {
    padding: 0 !important;
  }

  .modal-header {
    height: 50px;
    background: $primary;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    letter-spacing: 1.5px;
  }

  .item-md {
    background: #fafafa;
  }

  .list-header-md {
    margin-bottom: 0;
  }

  ion-icon {
    color: $primary;
  }

  .close-button {
    position: absolute;
    right: 0;
    bottom: 10px;
  }

}