solution {

  .solution-container {
    background: $primary;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s linear;
    position: relative;
  }

  .solution-block {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: #fff;
    margin: 2px;
    box-shadow: inset 0 0 3px 0 #7b7b7b;
  }

  .solution--error {
    background: #ff1f51;

    .solution-block--entry {
      background: #ff5a5d;
      color: #fff;
    }
  }

  .solution-error {
    position: absolute;
    top: -30px;
    height: 30px;
    background: #ff1f51;
    padding: 5px 35px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: white;
    font-family: $main-font;
    animation-name: scaleUpError;
    animation-duration: 0.2s;
  }

  .solution-block--entry {
    height: 100%;
    width: 100%;
    padding-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $main-font;
    text-transform: uppercase;
    font-size: 2em;
    color: #fff;
    background: #cfd9f2;
    border-radius: 3px;
    transition: all 0.1s linear;
    animation-name: scaleUp;
    animation-duration: 0.2s;
  }

  .solution-block--space {
    visibility: hidden;
    pointer-events: none;
  }

  @keyframes scaleUp {
    0%   {
      opacity: 0;
      transform: scale(1);
    }
    25%  {
      transform: scale(1.2);
    }
    50%  {
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes scaleUpError {
    0%   {
      opacity: 0;
      background: #91f9ca;
      transform: scale(1);
    }
    25%  {
      transform: scale(1.2);
    }
    50%  {
    }
    100% {
      opacity: 1;
      background: #ff5b45;
      transform: scale(1);
    }
  }
}
