header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  color: #fff;

  .coin-container {
    font-size: 1.5em;
    font-family: $main-font;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      color: #fff900;
    }
  }

  .coin-count {
    font-size: 1.3em;
    padding-top: 6px;
    margin-left: 5px;
  }
}
